.TabelaCC {
    width: 100%;
    border-collapse: collapse;
}

.HeaderRow {
    border: 1px solid #000;
}

.TopLeftCorner {
    border: none;
}

.DiasHeader,
.daysHeader {
    background-color: #dfc778;
    padding: 10px;
}

.HorariosCol {
    border: 1px solid #b83838;
    padding: 8px;
    background-color: #eee6e6;
    text-align: right;
}

.ContentCell {
    border: 1px solid #000;
    /* Adicione a propriedade de borda conforme necessário */
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    vertical-align: top;
}

.eachClassInCell {
    margin-bottom: 5px;
    border: 2px solid #3b171784;
    font-weight: bolder;
    text-wrap: nowrap;
}

.filterHeader {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 1%;
}