.TurmaHorariosTitleButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.TurmaHorariosColunaDias {
    width: 100px;
}

.TurmaHorariosColunaHoraInicio {
    width: 140px;
}

.TurmaHorariosColunaDuracao {
    width: 120px;
}

.TurmaHorariosColunaSala {
    width: 200px;
}