/*
Explanation:

- background is where everything is located, so it's the first thing to be set. Inside it are two divs: CRUD-page-selection and CRUDContainComponents.
- CRUD-page-selection is the div that contains the buttons for the CRUD pages. It's aligned to the left and top of the screen.
- CRUDContainComponents is the div that contains the components for the CRUD pages. It's aligned to the bottom-center of the screen. It contains a top select with itemSelectionBar and a div with infoCard.
- itemSelectionBar is the div that contains the select for the items.
- infoCard is the div that contains all the information about the selected item.
- showBasicDataCard is the div that contains the basic information about the selected items.
- showBasicDataTable is the table that contains the information about the selected item.
- whiteColor and blackColor are classes that change the color of the text.
*/

/*
My CSS Structure:

- background
  - CRUD-page-selection
    - PageSelection
    - PageSelectionSelect
  - CRUDContainComponents
    - SelectionBar
      - SelectList
    - infoCard
      - showBasicDataCard
        - showBasicDataTable
*/

body {
  /* sleeper agent 🕵️ */
  background-color: #000;
  margin: 0;
  font-family: 'Segoe UI';
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CRUDContainComponents {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-self: baseline;
  height: auto;

  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  gap: 10px;
}

.selectionBar {
  display: flex;
  align-self: baseline;
  padding: 10px;
  font-weight: bolder;
}

.containerCardBaseInfo {
  background-color: rgb(251, 205, 148);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0;
  width: fit-content;
}

.infoCard {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  height: fit-content;
}

.showBasicDataCard {
  background-color: rgb(251, 205, 148);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0;
  width: fit-content;
}

.showBasicDataTable {
  border-collapse: collapse;
}

.showBasicDataTable th,
.showBasicDataTable td {
  padding: 8px;
  text-align: left;
  text-wrap: nowrap;
  border-bottom: 1px solid #ddd;
}

.PageSelection {
  padding-top: 20px;
  padding-left: 20px;
  align-self: baseline;
}

.PageSelectionSelect:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.SelectList {
  font-weight: bolder;
}