body {
  /* sleeper agent 🕵️ */
  background-color: #000;
  margin: 0;
  font-family: 'Segoe UI';
}

.background {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.CRUDContainComponents {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-self: baseline;
  height: auto;

  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  gap: 10px;
}

.selectionBar {
  display: flex;
  align-self: baseline;
  padding: 10px;
  font-weight: bolder;
}

.containerCardBaseInfo {
  background-color: #fbcd94;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0;
  width: fit-content;
}

.infoCard {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  height: fit-content;
}

.showBasicDataCard {
  background-color: #fbcd94;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0;
  width: fit-content;
}

.showBasicDataTable {
  border-collapse: collapse;
}

.showBasicDataTable th,
.showBasicDataTable td {
  padding: 8px;
  text-align: left;
  text-wrap: nowrap;
  border-bottom: 1px solid #ddd;
}

.SelectList {
  font-weight: bolder;
  /* width: auto; */
  /* width: fit-content; */
  /* width: max-content; */
  /* width: min-content; */
}