.iconCreate,
.iconRead,
.iconUpdate,
.iconDelete {
  display: inline-block;
  transition: transform 0.3s;
}

.iconCreate:hover,
.iconRead:hover,
.iconUpdate:hover,
.iconDelete:hover,
.iconInputDisciplina:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.iconCreate:active,
.iconRead:active,
.iconUpdate:active,
.iconDelete:active {
  opacity: 0.7;
  /* Reduz a opacidade quando clicado */
}

.iconCreate:active,
.iconInputDisciplina:active {
  color: #28a745;
}

.iconRead:active {
  color: #007bff;
}

.iconUpdate:active {
  color: #ffc107;
}

.iconDelete:active {
  color: #dc3545;
}

.iconCreate:not(:active),
.iconRead:not(:active),
.iconUpdate:not(:active),
.iconDelete:not(:active) {
  color: inherit;
  /* Volta à cor normal quando não está ativo */
  opacity: 1;
  /* Volta à opacidade normal quando não está ativo */
  transition: color 0.5s, opacity 1.0s;
  /* Adiciona transições para color e opacity */
}

/* ICON INPUT DISCIPLINA */

.iconInputDisciplina {
  color: #007bff;
  transition: transform 0.5s;
}

.iconInputDisciplina:active {
  /* transform: translateX(500px); */
  /* transform: translateX(50px); */
}